@model WebCookbook.Models.RecipesViewModel

@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table>
    <tbody>
    <tr>
        <td>
            @Html.Label("Amount:")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredients[0].AmountPerInitialServing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ingredients[0].AmountPerInitialServing, "", new { @class = "text-danger" })
            </div>
        </td>
        <td>
            @Html.Label("Measurement")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredients[0].Measurement, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Ingredients[0].Measurement, "", new {@class = "text-danger"})
            </div>
        </td>
        <td>
            @Html.Label("Ingredient")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredients[0].IngredientName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Ingredients[0].IngredientName, "", new {@class = "text-danger"})
            </div>
        </td>
    </tr>
    </tbody>
</table>
