@using System.Collections
@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@using WebCookbook.Authorization
@using WebCookbook.Models
@model WebCookbook.Models.RecipeViewModel

@{
    ViewBag.Title = Model.Recipe.Title;
}

<h2>@Model.Recipe.Title</h2>

<div>
    <hr/>
    <div class="dl-horizontal">
            <div id="initialServingsId">
                Initial Servings: @Html.DisplayFor(model => model.Recipe.InitialServings)
            </div>
            <br/>
            <p>Change amount of servings:</p>
            <input type="number" id="ServingsId" value=@Model.Recipe.InitialServings/>
            <button type="button"
                    onclick="var initialServ = @Model.Recipe.InitialServings; 
                    servings = document.getElementById('ServingsId').value; 
                    if(servings<1)
                    {
                    return;
                    }
                    max = @Model.Ingredients.Count; 
                    for (i = 0; i < max; i++) 
                    { 
                        astring1 = 'amountID'; 
                        astring2 = astring1.concat(i); 
                        initial1 = 'initialAmountID'; 
                        initial2 = initial1.concat(i); 
                        fieldAmount = document.getElementById(initial2).innerText; 
                        document.getElementById(astring2).innerText = fieldAmount / initialServ * servings; 
                    } 
                    document.getElementById('ServingsId').defaultValue = initialServ; ">
                Change Values
            </button>
            <br/>
            <br/>
            @Html.DisplayNameFor(model => model.Ingredients)
            <table>
                @{ int i = 0;}
                @foreach (var item in Model.Ingredients)
                {
                    <tr>
                        <td id="@($"initialAmountID{i}")" style="display: none">
                            @item.AmountPerInitialServing
                        </td>
                        <td id="@($"amountID{i}")">
                            @item.AmountPerInitialServing
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Measurement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IngredientName)
                        </td>
                    </tr>
                    i++;
                }
            </table>
            <br/>
            <div>
                @Html.DisplayNameFor(model => model.Recipe.Instructions)
                <br/>
                @Html.DisplayFor(model => model.Recipe.Instructions)
            </div>
            <br/>
            <div>
                @Html.DisplayNameFor(model => model.Recipe.Ratings)
                <br/>
                @if (Model.Recipe.Ratings == null || !Model.Recipe.Ratings.Any())
                {
                    <text>no ratings so far!</text>
                }
                else
                {
                    decimal likes = Model.Recipe.Ratings.Count(rating => rating.Like);
                    decimal total = Model.Recipe.Ratings.Count;
                    decimal percentage = (likes/total)*100;
                    @($"{percentage:0}% out of {total} ratings")
                }
                <br/>
                @if (User.Identity.IsAuthenticated &&
                 !StaticAuthorize.isAuthorized(Model.Recipe.RecipeId, User) &&
                 Model.CanLikeRecipe(User.Identity.Name))
                {
                    @Html.ActionLink("Like!", "LikeDislikeRecipe", new { recipeId = Model.Recipe.RecipeId, like = true }, new { model = Model }) <text>|</text>
                    @Html.ActionLink("Dislike!", "LikeDislikeRecipe", new { recipeId = Model.Recipe.RecipeId, like = false }, new { model = Model })
                }
            </div>
            <br/>
            <div>
                <img src=@Model.Recipe.PictureUrl alt=@Model.Recipe.PictureUrl style="max-width: 300px; width: 100%;"/>
            </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Recipe.RecipeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
