@model WebCookbook.Models.RecipeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Title)
            <div id="toChange">
                5
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.InitialServings)
        </dt>

        <dd>
            
            <div id="initialServingsId">
                @Html.DisplayFor(model => model.Recipe.InitialServings)
            </div>
            <input type="number" id="ServingsId" value=@Model.Recipe.InitialServings/>
            @{ 
                int nrOfIngr = 0;
                foreach(var item in Model.Ingredients)
                {
                    nrOfIngr++;
                }
            }
            <button type="button"
                    onclick="var initialServ = document.getElementById('initialServingsId').innerText;
    servings = document.getElementById('ServingsId').value;
    if(servings<1)
                    {
                    return;
                    }
    lastServing = document.getElementById('ServingsId').defaultValue;
    if (isNaN(lastServing))
        lastServing = 1;
    max = @nrOfIngr
    for(i=1;i<=max;i++)
    {
        astring1 = 'amountID';
        astring2 = astring1.concat(i);
        fieldAmount = document.getElementById(astring2).innerText;
        document.getElementById(astring2).innerHTML = servings / initialServ * fieldAmount/ lastServing;
    }
    document.getElementById('ServingsId').defaultValue = servings / initialServ;
    ">
                Change Values
            </button>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Instructions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd>
            <table>
                <tr>
                    <td>
                        Amount per initial serving: 
                    </td>
                    <td>
                        Measurement: 
                    </td>
                    <td>
                        Ingredient name: 
                    </td>
                </tr>
                @{ int i = 0;}
                @foreach (var item in Model.Ingredients)
                {
                    i = i + 1;
                    <tr>

                        <td id="@string.Format("amountID{0}", i)">
                            @item.AmountPerInitialServing
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Measurement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IngredientName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt>
            Picture
        </dt>

        <dd>
            <img src=@Model.Recipe.PictureUrl style="max-width:600px; width:100%;"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Recipe.RecipeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
