@model WebCookbook.Models.RecipeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Title)
            <div id="toChange">
                5
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.InitialServings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.InitialServings)
            <input type="number" id="initialServingsId" value=@Model.Recipe.InitialServings/>
            <button type="button"
                    onclick="var initialServ = document.getElementById('initialServingsId').value;
    test2 = document.getElementById('amountID').innerText;
    document.getElementById('amountID').innerHTML = initialServ * test2">
                Change Values
            </button>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Instructions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd>
            <table>
                <tr>
                    <td>
                        Amount per initial serving: 
                    </td>
                    <td>
                        Measurement: 
                    </td>
                    <td>
                        Ingredient name: 
                    </td>
                </tr>
                @foreach (var item in Model.Ingredients)
                {
                    <tr>
                        <td id="amountID">
                            @item.AmountPerInitialServing
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Measurement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IngredientName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt>
            Picture
        </dt>

        <dd>
            <img src=@Model.Recipe.PictureUrl style="max-width:600px; width:100%;"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Recipe.RecipeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
