@using System.Web.UI.WebControls
@model WebCookbook.Models.RecipeViewModel

@{
    ViewBag.Title = Model.Recipe.Title;
}

<h2>@Model.Recipe.Title</h2>

<div>
    <hr/>
    <div class="dl-horizontal">
        <dd>
            <div id="initialServingsId">
                Initial Servings: @Html.DisplayFor(model => model.Recipe.InitialServings)
            </div>
            <br/>
            <p>Change amount of servings:</p>
            <input type="number" id="ServingsId" value=@Model.Recipe.InitialServings/>
            <button type="button"
                    onclick="var initialServ = @Model.Recipe.InitialServings; 
                    servings = document.getElementById('ServingsId').value; 
                    if(servings<1)
                    {
                    return;
                    }
                    max = @Model.Ingredients.Count; 
                    for (i = 0; i < max; i++) 
                    { 
                        astring1 = 'amountID'; 
                        astring2 = astring1.concat(i); 
                        initial1 = 'initialAmountID'; 
                        initial2 = initial1.concat(i); 
                        fieldAmount = document.getElementById(initial2).innerText; 
                        document.getElementById(astring2).innerText = fieldAmount / initialServ * servings; 
                    } 
                    document.getElementById('ServingsId').defaultValue = initialServ; ">
                Change Values
            </button>
            <br/>
            <br/>
            @Html.DisplayNameFor(model => model.Ingredients)
            <table>
                @{ int i = 0;}
                @foreach (var item in Model.Ingredients)
                {
                    <tr>
                        <td id="@($"initialAmountID{i}")" style="display: none">
                            @item.AmountPerInitialServing
                        </td>
                        <td id="@($"amountID{i}")">
                            @item.AmountPerInitialServing
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Measurement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IngredientName)
                        </td>
                    </tr>
                    i++;
                }
            </table>
            <br/>
            <div>
                @Html.DisplayNameFor(model => model.Recipe.Instructions)
                <br/>
                @Html.DisplayFor(model => model.Recipe.Instructions)
            </div>
            <br/>
            <div>
                <img src=@Model.Recipe.PictureUrl alt=@Model.Recipe.PictureUrl style="max-width: 300px; width: 100%;"/>
            </div>
        </dd>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Recipe.RecipeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
