@using WebCookbook.Models
@using WebCookbook.Authorization
@model IEnumerable<WebCookbook.Models.RecipeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create", "RecipeView")
    }
    else
    {
        <p>Please log in to create a recipe!</p>
    }
}
@using (Html.BeginForm("Index","RecipeView",FormMethod.Get))
{
    <p> Title: @Html.TextBox("SearchString") <br/>
    <input type="submit" value="Filter"/></p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.Title)
        </th>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe.Title)
        </td>
        <td>
            @if (StaticAuthorize.isAuthorized(item.Recipe.RecipeId, User))
            {
            @Html.ActionLink("Edit", "Edit", "RecipeView", new { id = item.Recipe.RecipeId }, item) <text>|</text>
            }
            @Html.ActionLink("Details", "Details", "RecipeView", new { id=item.Recipe.RecipeId }, null) 
            @if (StaticAuthorize.isAuthorized(item.Recipe.RecipeId,User))
            {
            <text>|</text> @Html.ActionLink("Delete", "Delete", "RecipeView", new { id = item.Recipe.RecipeId }, null)
            }
        </td>
    </tr>
    }
</table>
